.App {
  font-family: "Ubuntu", sans-serif;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 664px;
  margin: 0 auto;
  padding: 50px;
}

.divider {
  flex-grow: 1;
  border-top: 2px solid black;
}

.loading {
  text-align: center;
  font-size: 50px;
}
